#compose-body {
    min-height: 250px;
}

/* emails-view */
#emails-container {
    margin: 5px;
    padding: 0px;
}
#emails-container tr {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10%;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#emails-container tr:hover {
    border-style: double;
    border-color: Silver Silver LightSlateGray;
    cursor: pointer;
}

#emails-container .table {
    margin: 0px;
}

tr > .sender, recipients {
    width:20vw;
}
tr > .subject {
    width:60vw;

}
tr > .timestamp {
    width:20vw;
}


/*view-email */
#email-sender, #email-recipients, #email-body, #email-buttons {
    margin-left:10px;
}


/*mark panel*/

.nav-item {
    color:blue;
    margin:5px 20px 5px 15px;
}

.nav-item:hover {
    cursor: pointer;
    color: grey;
}

#mark-nav, #mark-nav-email {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

/* animations */
@keyframes hide {
    0% {
        opacity: 1;
    }
    50% {
       opacity: 0;
       border-color: white;
       height: 100%;

    }
    100% {
        opacity: 0;
        line-height: 0px;
        border-color: white;
        height: 0%;
        line-height: 0%;
    }
}